<html>
	<head>
		<title>DietMaster Search</title>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- assets -->
		<!-- js -->
		<script
		  src="https://code.jquery.com/jquery-3.6.0.min.js"
		  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		  crossorigin="anonymous">
		</script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		<!-- css -->
		<link rel="stylesheet" href="/../stylesheets/style.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div id="main" class="col-lg-9 col-lg-push-3 text-center">
					<h1>Search Recipes</h1>
					<form action="/search/" method="post">
					    <label for="recipe">Enter search params, or nothing: </label>
					    <input id="recipe" type="text" name="search_query" value=""><br>

					    <input id="dairy-free" type="checkbox" name="dairy-free" value="dairy-free">
					    <label for="dairy-free">dairy-free</label>

					    <input id="gluten-free" type="checkbox" name="gluten-free" value="gluten-free">
					    <label for="gluten-free">gluten-free</label>
					    <input id="vegetarian" type="checkbox" name="vegetarian" value="vegetarian">
					    <label for="vegetarian">vegetarian</label>
					    <input id="vegan" type="checkbox" name="vegan" value="vegan">
					    <label for="vegan">vegan</label><br>
					    <input class="btn btn-secondary" type="submit" value="SEARCH">
					</form>
					<span>Recipes gathered from <a href="https://www.seriouseats.com/">seriouseats.com</a>.</span>
					<div id="results">
						<% if(results) { %>
						<li class="list-group">
							<% results.forEach(function(recipe) { %>
							<ul class="list-group-item">
								<h3><a href="<%= recipe.link %>"><%= recipe.name %></a></h3>
								<% if(recipe.image != null) { %>
								<img class="mx-auto" src="<%= recipe.image %>" width=200px height=150px>
								<% } else { %>
									<span style="border: 1px solid black;">No image, sorry :(</span><br><br><br>
								<% } %>
								<div class="text-center" style="border-bottom: 1px solid black;">
									<strong>    </strong> <!-- silly way to even out the padding -->
									<% recipe.dietaryFlags.forEach(function(flag) { %>
										<strong><%= flag %>    </strong>
									<% }); %>
								</div>
								<h4>Ingredients</h4>
								<div class="text-left">
									<% recipe.ingredients.forEach(function(ingredient) { %>
										<span><%= ingredient %></span><br>
									<% }); %> 
								</div>
							</ul>
							<% }); %>
						</li>
						<% } %>
					</div>
				</div>
				<div id="sidebar" class="col-lg-3 col-lg-pull-9">
					<li class="list-group">
						<ul class="list-group-item"><a href="/">Home</a></ul>
						<ul class="list-group-item"><a href="/search">Search</a></ul>
						<ul class="list-group-item"><a href="/settings">Settings</a></ul>
						<% if(isLoggedIn) {%><ul class="list-group-item"><a href="/profile">Profile</a></ul><% } %>
					</li>
				</div>
			</div>
		</div>
	</body>
</html>